@font-face {
  font-family: "iconfont"; /* Project id 2829163 */
  src: url('iconfont.woff2?t=1697789946686') format('woff2'),
       url('iconfont.woff?t=1697789946686') format('woff'),
       url('iconfont.ttf?t=1697789946686') format('truetype'),
       url('iconfont.svg?t=1697789946686#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_zujian_hulio:before {
  content: "\e720";
}

.icon-icon_plodg_jhf:before {
  content: "\e721";
}

.icon-icon_search:before {
  content: "\e63f";
}

.icon-icon_me_center:before {
  content: "\e63e";
}

.icon-icon_message_news:before {
  content: "\e63c";
}

.icon-icon_stmpy_not:before {
  content: "\e63d";
}

.icon-icon_interface:before {
  content: "\e63b";
}

.icon-icon_date:before {
  content: "\e63a";
}

.icon-icon_back:before {
  content: "\e639";
}

.icon-icon_appointment_outside:before {
  content: "\e637";
}

.icon-icon_appointment_inside:before {
  content: "\e638";
}

.icon-icon_close:before {
  content: "\e636";
}

.icon-icon_cancel:before {
  content: "\e627";
}

.icon-icon_commabd:before {
  content: "\e62e";
}

.icon-icon_review:before {
  content: "\e631";
}

.icon-icon_complete:before {
  content: "\e632";
}

.icon-icon_through:before {
  content: "\e635";
}

.icon-icon_selected_nor:before {
  content: "\e634";
}

.icon-icon_background_report:before {
  content: "\e633";
}

.icon-icon_chevron:before {
  content: "\e61d";
}

.icon-icon_home_add:before {
  content: "\e620";
}

.icon-icon_home_switch:before {
  content: "\e621";
}

.icon-icon_me_appointment:before {
  content: "\e623";
}

.icon-icon_submit_failure:before {
  content: "\e624";
}

.icon-icon_tab_home_nor:before {
  content: "\e626";
}

.icon-icon_screening:before {
  content: "\e628";
}

.icon-icon_me_binding:before {
  content: "\e629";
}

.icon-icon_selected_sel:before {
  content: "\e62a";
}

.icon-icon_tab_message_nor:before {
  content: "\e62b";
}

.icon-icon_tab_me_nor:before {
  content: "\e62c";
}

.icon-icon_treatment:before {
  content: "\e62d";
}

.icon-icon_me_switch:before {
  content: "\e62f";
}

.icon-icon_warning:before {
  content: "\e630";
}

