.idea
.vscode
.DS_Store
.husky
.local

node_modules
dist
dist-ssr
es
lib

*.sh
*.md
*.woff
*.ttf
*.local

/public
/docs
/bin
/src/assets/font-icons
/src/components/svg-icon/icon

prettier.config.js
auto-import.d.ts
components.d.ts
