// less变量写这里面！！！ Ant Design Vue 样式复制一份进去vite.config.ts！！！
// less变量写这里面！！！ Ant Design Vue 样式复制一份进去vite.config.ts！！！
// less变量写这里面！！！ Ant Design Vue 样式复制一份进去vite.config.ts！！！

//antd变量
@primary-color: #3F80FF; // 全局主色
@link-color: #3F80FF; // 链接色
@success-color: #5DC12C; // 成功色
@warning-color: #FA9114; // 警告色
@error-color: #FF4D4F; // 错误色.
@font-size-base: 14px; // 主字号
@heading-color: rgba(0, 0, 0, 0.85); // 标题色
@text-color: rgba(0, 0, 0, 0.65); // 主文本色
@text-color-secondary: rgba(0, 0, 0, 0.45); // 次文本色
@disabled-color: rgba(0, 0, 0, 0.25); // 失效色
@border-radius-base: 4px; // 组件/浮层圆角
@border-color-base: #D0D0D0; // 边框色
@box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // 浮层阴影

//自定义变量
@unit: px; // 单位
@bg-color: #F0F2F5; // 背景色
@primary-color-hover: #5F95FF; // 全局主色 悬停
@primary-color-active: #125BEC; // 全局主色 激活
@error-color-hover: #FF6B6C; // 全局主色 激活
@error-color-active: #F23D3F; // 全局主色 激活
@blue-grey-color: #336699; // 蓝灰
@light-primary-color: #F0F5FF; // 浅蓝
@light-error-color: #FFF1F0; // 浅红
@light-warning-color: #FFF5E0; // 浅橙
@light-success-color: #F6FFED; // 浅绿
@parting-line-color: #E9E9E9; //分割线
@label-color: #F0F0F0; //标签 灰

// 文本颜色值
@text-colors: @primary-color, @success-color, @warning-color, @error-color, @text-color, @heading-color, @text-color-secondary;
@text-colors-name: primary, success, warning, error, info, main, secondary;
